.slide{
  width: 400px;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    width: 500px;
  }
}

.root{
  margin-top: 20px;
  width: 600px;
}
