@import "../../assets/styles/vars";

.contentWrap{
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.sectionSample {
  background: $color-main-darker;
  color: #ffffff;
  padding-top: 20px;
  &Header{
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 0;
    text-align: center;
  }
  &Content{
    position: relative;
    height: 360px;
    &:hover{
      .item1{
        transform: rotate(-15deg);
      }
      .item2{
        transform: rotate(-5deg);
      }
      .item3{
        transform: rotate(0deg);
      }
      .item4{
        transform: rotate(10deg);
      }
      .item5{
        transform: rotate(25deg);
      }
    }
    &Item{
      width: 210px;
      height: 297px;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 20px;
      left: 50%;
      margin-left: -105px;
      transition: 0.3s;

      &.item1{
        background-image: url("../../assets/images/sample/1.jpg");
        transform: rotate(0deg);
        transform-origin: bottom;
        &:hover{
          transform: rotate(-20deg);
        }
      }
      &.item2{
        background-image: url("../../assets/images/sample/2.jpg");
        transform: rotate(5deg);
        transform-origin: bottom;
        &:hover{
          transform: rotate(5deg);
        }
      }
      &.item3{
        background-image: url("../../assets/images/sample/3.jpg");
        transform: rotate(10deg);
        transform-origin: bottom;
        &:hover{
          transform: rotate(15deg);
        }
      }
      &.item4{
        background-image: url("../../assets/images/sample/4.jpg");
        transform: rotate(15deg);
        transform-origin: bottom;
        &:hover{
          transform: rotate(20deg);
        }
      }
      &.item5{
        background-image: url("../../assets/images/sample/5.jpg");
        transform: rotate(20deg);
        transform-origin: bottom;
        &:hover{
          transform: rotate(30deg);
        }
      }
    }
  }
}
