@import "./assets/styles/vars";
.App{
  background-color: $color-main-dark;
}
.contentWrap{
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

