@import "./assets/styles/vars";
.App{
  background-color: $color-main-dark;
}
.contentWrap{
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.section{
  &Top{
    color: #fff;
    &Header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      font-size: 30px;
    }
    .paragraph{}
  }

  &Stages{
    background: #ffffff;
    color: $color-main-darker;

    .contentWrap{
      padding-top: 20px;
    }
    &Header{
      font-size: 30px;
      margin-bottom: 20px;
      margin-top: 0;
      text-align: center;
    }
    .stage{
      &Wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &Item{
        width: 20%;
        position: relative;
        background: transparent;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        height: 380px;
        &Img{
          width: 100%;
        }
        &Header{
          font-weight: 700;
          padding-top: 10px;
          padding-bottom: 10px;
          margin-top: 0;
          margin-bottom: 0;
          position: relative;
          z-index: 1;
        }
        &Num{
          position: absolute;
          font-size: 200px;
          font-weight: 700;
          right: 0;
          bottom: 20px;
          z-index: 0;
          color: $color-main-lighter;
          opacity: 0.5;
        }
        &Text{
          background: transparent;
          position: relative;
          z-index: 1;
          margin-bottom: 20px;
        }
        &MoreBtn{
          border: none;
          background-color: $color-main;
          color: #ffffff;
          text-align: center;
          line-height: 40px;
          padding-left: 10px;
          padding-right: 10px;
          font-size: 20px;
        }
      }
    }
  }
  &Sample {
    background: $color-main-darker;
    color: #ffffff;
    padding-top: 20px;
    &Header{
      font-size: 30px;
      margin-bottom: 20px;
      margin-top: 0;
      text-align: center;
    }
    &Content{
      position: relative;
      height: 360px;
      &:hover{
        .item1{
          transform: rotate(-15deg);
        }
        .item2{
          transform: rotate(-5deg);
        }
        .item3{
          transform: rotate(0deg);
        }
        .item4{
          transform: rotate(10deg);
        }
        .item5{
          transform: rotate(25deg);
        }
      }
      &Item{
        width: 210px;
        height: 297px;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 20px;
        left: 50%;
        margin-left: -105px;
        transition: 0.3s;

        &.item1{
          background-image: url("./assets/images/sample/1.jpg");
          transform: rotate(0deg);
          transform-origin: bottom;
          &:hover{
            transform: rotate(-20deg);
          }
        }
        &.item2{
          background-image: url("./assets/images/sample/2.jpg");
          transform: rotate(5deg);
          transform-origin: bottom;
          &:hover{
            transform: rotate(5deg);
          }
        }
        &.item3{
          background-image: url("./assets/images/sample/3.jpg");
          transform: rotate(10deg);
          transform-origin: bottom;
          &:hover{
            transform: rotate(15deg);
          }
        }
        &.item4{
          background-image: url("./assets/images/sample/4.jpg");
          transform: rotate(15deg);
          transform-origin: bottom;
          &:hover{
            transform: rotate(20deg);
          }
        }
        &.item5{
          background-image: url("./assets/images/sample/5.jpg");
          transform: rotate(20deg);
          transform-origin: bottom;
          &:hover{
            transform: rotate(30deg);
          }
        }
      }
    }
  }
  &Plan{
    background: #ffffff;
    color: $color-main-darker;
    padding-top: 20px;
    &Header{
      font-size: 30px;
      margin-bottom: 20px;
      margin-top: 0;
      text-align: center;
    }
    &Content{
      position: relative;
      .plan{
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        margin-bottom: 20px;
        &Img{
          width: 40%;
          background: #fff;
          padding: 10px;
          box-shadow: 2px 2px 6px 2px $color-main-darker;
        }
        &Text{
          padding-left: 20px;
        }
      }
      .miniProject{
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: space-around;
        &Img{
          width: 40%;
          background: #fff;
          padding: 10px;
          box-shadow: 2px 2px 6px 2px $color-main-darker;
        }
        &Text{
          padding-right: 20px;
        }
      }
    }
  }
  &DopServices{
    background: $color-main-darker;
    color: #ffffff;
    padding-top: 20px;
    &Header{
      font-size: 30px;
      margin-bottom: 20px;
      margin-top: 0;
      text-align: center;
    }
    &Content{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .item{
        width: 360px;

        &Header{
          font-weight: 700;
          font-size: 20px;
          padding-top: 10px;
          padding-bottom: 10px;
          margin-top: 0;
          margin-bottom: 0;
          position: relative;
          z-index: 1;
          text-align: center;
        }
        &Img{
          width: 100%;
          background: $color-main-darker;
          padding: 10px;
          box-shadow: 2px 2px 6px 2px #fff;
        }
        &Text{
          margin-top: 20px;

        }
      }
    }
  }
}

